<style type="text/css">
.panel .table {
  background-color: #fff;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #f4f4f4;
}
.table > thead > tr > th {
  border-bottom: 2px solid #f4f4f4;
}
.table tr td .progress {
  margin-top: 5px;
}
.table-bordered {
  border: 1px solid #f4f4f4;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #f4f4f4;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table.no-border,
.table.no-border td,
.table.no-border th {
  border: 0;
}
/* .text-center in tables */
table.text-center,
table.text-center td,
table.text-center th {
  text-align: center;
}
.table.align th {
  text-align: left;
}
.table.align td {
  text-align: right;
} 

td.registred {
  background-color: #1bff007d !important;
}
td.checked {
  background-color: #1bff00eb !important;
}
td.refused {
  background-color: #ff0000d1 !important;
}
</style>

<%
  function readableState(state) {
    switch(state) {
      case 'registred': return 'Зарегистрирован';
      case 'checked': return 'Проверен';
      case 'refused': return 'Отклонен';
      default: return '-';
    }
  }

  function stateCss(state) {
    if (['registred','checked','refused'].includes(state)) {
      return state;
    }
    return '';
  }
%>

<div class="table-wrap">
  <table class="table table-bordered">
    <thead>
      <th>Документ</th>
      <th>Дата и время начала действия</th>
      <th>Дата и время окончания действия</th>
      <th>Цель</th>
      <th>Статус</th>
    </thead>
    <tbody>
      <% if (Array.isArray(passports)) {
        passports.forEach(passport => { %>
          <tr>
              <td>
                <a href="/<%=module%>/pass/pass/<%= passport.guid %>">
                  <%= passport.doc %>
                </a>
              </td>
              <td>
                <a href="/<%=module%>/pass/pass/<%= passport.guid %>">
                  <%= moment(passport.validStart).format(dateFormat) %>
                </a>
              </td>
              <td>
                <a href="/<%=module%>/pass/pass/<%= passport.guid %>">
                  <%= moment(passport.validEnd).format(dateFormat) %>
                </a>
              </td>
              <td>
                <a href="/<%=module%>/pass/pass/<%= passport.guid %>">
                  <%= (passport.target && passport.target.name || '') %>
                </a>
              </td>
              <td class="<%= stateCss(passport.state) %>">
                <a href="/<%=module%>/pass/pass/<%= passport.guid %>">
                  <%= readableState(passport.state) %>
                </a>
              </td>
          </tr>
      <%
        })
      } %>
    </tbody>
  </table>
</div>
