<% layout('./layout') -%>

<%
  const {applicant, state, target} = (passport || {});

  function readableState(state) {
    switch(state) {
      case 'registred': return 'Зарегистрирован';
      case 'checked': return 'Проверен';
      case 'refused': return 'Отклонен';
      default: return '-';
    }
  }

  function stateCss(state) {
    if (['registred','checked','refused'].includes(state)) {
      return state;
    }
    return '';
  }
%>

<style type="text/css">
  input.registred {
    background-color: #1bff007d !important;
  }
  input.checked {
    background-color: #1bff00eb !important;
  }
  input.refused {
    background-color: #ff0000d1 !important;
  }
</style>

<div class="login-box">
  <form class="profile-form boxed">
    <fieldset>
      <section>
        <label class="label">
          ФИО
        </label>
        <label class="input">
          <input type="text" name="fio" id="login" class="input" value="<%= (applicant && applicant.fio || '') %>" disabled />
        </label>
      </section>
      <section>
        <label class="label">
          Дата рождения
        </label>
        <label class="input">
          <input type="text" name="birthDate" id="birthDate" class="input" value="<%= (applicant && moment(applicant.birthDate).format(dateFormat) || '') %>" disabled />
        </label>
      </section>
      <section>
        <label class="label">
          Телефон
        </label>
        <label class="input">
          <input type="text" name="birthDate" id="birthDate" class="input" value="<%= (applicant && applicant.phone || '') %>" disabled />
        </label>
      </section>

      <section>
        <label class="label">
          QR код
        </label>
        <label class="input">
          <div id="qrcode"></div>
        </label>
      </section>

      <section>
        <label class="label">
          Статус
        </label>
        <label class="input">
          <input type="text" name="state" id="state" class="input <%= stateCss(state) %>" value="<%= readableState(state) %>" disabled />
        </label>
      </section>

      <section>
        <label class="label">
          Цель
        </label>
        <label class="input">
          <input type="text" name="target" id="target" class="input" value="<%= (target && target.name || '') %>" disabled />
        </label>
      </section>

    </fieldset>
  </form>
</div>

<script type="text/javascript">
  $('#qrcode').qrcode({
    width: 128,
    height: 128,
    text: window.location.origin + window.location.pathname
  });
</script>