<% layout('./layout') -%>

<%
  let properties = profile && profile.properties || {};
%>

<div class="login-box">
  <form action="/<%=module%>/pass/profile" method="post" class="profile-form boxed">
    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
    <fieldset>
      <section>
        <label class="label">
          ФИО
        </label>
        <label class="input">
          <input type="text" name="fio" id="login" class="input" required value="<%= (properties.fio || '') %>" />
        </label>
      </section>
      <section>
        <label class="label">
          Дата рождения
        </label>
        <label class="input">
          <input type="text" name="birthDate" id="birthDate" class="input form-control" value="<%= (properties.birthDate || '') %>" />
        </label>

      </section>
      <section>
        <label class="label">
          Тип документа
        </label>
        <label class="input">
          <select>
            <option value="passport">Паспорт</option>
            <option value="birthCertificate">Свидетельство о рождении</option>
          </select>
        </label>
      </section>
      <section>
        <label class="label">
          Серия документа
        </label>
        <label class="input">
          <input type="text" name="docSer" id="docSer" class="input" value="<%= (properties.docSer || '') %>" />
        </label>
      </section>
      <section>
        <label class="label">
          Номер документа
        </label>
        <label class="input">
          <input type="text" name="docNum" id="docNum" class="input" value="<%= (properties.docNum || '') %>" />
        </label>
      </section>
      <section>
        <label class="label">
          Дата выдачи документа
        </label>
        <label class="input">
          <input type="text" name="docDate" id="docDate" class="input" value="<%= (properties.docDate || '') %>" />
        </label>
      </section>
    </fieldset>

    <footer>
      <button id="submit-login" type="submit" class="btn btn-primary pull-right">Сохранить</button>
    </footer>
  </form>
</div>

<% include ./passports-table %>

<script type="text/javascript">
  (function($){
    $('#birthDate').datetimepicker({locale: '<%= locale %>', format: '<%= dateFormat %>'});
    $('#docDate').datetimepicker({locale: '<%= locale %>', format: '<%= dateFormat %>'});
  })(jQuery)
</script>
