<% layout('./layout') -%>

<%
  let properties = profile && profile.properties || {};
%>

<style type="text/css">
  .table-box {
    padding: 10px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .table-box table {
    background-color: #fff;
  }

  .login-box {
    margin: 0;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }

</style>

<div class="login-box">
  <form action="/<%=module%>/pass/profile" method="post" class="profile-form boxed">
    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
    <fieldset>
      <section>
        <label class="label">
          ФИО
        </label>
        <label class="input">
          <input type="text" name="fio" id="login" class="input" required value="<%= (properties.fio || '') %>" />
        </label>
      </section>
      <section>
        <label class="label">
          Дата рождения
        </label>
        <label class="input">
          <input type="text" id="birthDate" class="input form-control" autocomplete="off" value="<%= (properties.birthDate || '') %>" />
          <input type="hidden" name="birthDate" value="<%= (properties.birthDate || '') %>" />
        </label>

      </section>
      <section>
        <label class="label">
          Тип документа
        </label>
        <label class="input">
          <select name="type">
            <option value="passport" <% if (properties.type === 'passport') {%>selected<%}%>>
              Паспорт
            </option>
            <option value="birthCertificate" <% if (properties.type === 'birthCertificate') {%>selected<%}%>>
              Свидетельство о рождении
            </option>
          </select>
        </label>
      </section>
      <section>
        <label class="label">
          Серия документа
        </label>
        <label class="input">
          <input type="text" name="docSer" id="docSer" class="input" value="<%= (properties.docSer || '') %>" />
        </label>
      </section>
      <section>
        <label class="label">
          Номер документа
        </label>
        <label class="input">
          <input type="text" name="docNum" id="docNum" class="input" value="<%= (properties.docNum || '') %>" />
        </label>
      </section>
      <section>
        <label class="label">
          Дата выдачи документа
        </label>
        <label class="input">
          <input type="text" id="docDate" class="input form-control" autocomplete="off" value="<%= (properties.docDate || '') %>" />
          <input type="hidden" name="docDate" class="input" value="<%= (properties.docDate || '') %>" />
        </label>
      </section>
    </fieldset>

    <footer>
      <button id="submit-login" type="submit" class="btn btn-primary pull-right">Сохранить</button>
    </footer>
  </form>
</div>

<div class="table-box">
<% include ./passports-table %>
</div>


<script type="text/javascript">
  (function($){
    var $birthDateInput = $('input[name="birthDate"]');
    var $docDateInput = $('input[name="docDate"]');

    $('#birthDate')
      .datetimepicker({locale: '<%= locale %>', format: '<%= dateFormat %>', useCurrent: false, date: moment($birthDateInput.val())})
      .on('dp.change', function (e) {
        $birthDateInput.val(e.date ? moment(e.date , '<%= dateFormat %>').format() : null);
      });

    $('#docDate')
      .datetimepicker({locale: '<%= locale %>', format: '<%= dateFormat %>', useCurrent: false, date: moment($docDateInput.val())})
      .on('dp.change', function (e) {
        $docDateInput.val(e.date ? moment(e.date , '<%= dateFormat %>').format() : null);
      });
  })(jQuery)
</script>
